<!DOCTYPE html>
<html>
  <head>
    <title> Preguntas </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link media="only screen and (min-width: 530px) and (min-device-width: 481px)" rel='stylesheet' href='/stylesheets/wide.css' />
    <link media="only screen and (max-width: 480px)" rel='stylesheet' href='/stylesheets/smartphone.css' />
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
  </head>
  <body>
    <div id="page-wrap">
        <header>
            <h2>Quiz<span>: el juego de las preguntas</span></h2>
        </header>
        <nav class="main" id="n1" role="navigation">
            <span><a href="/">Inicio</a></span>
            <span><a href="/quizes">Preguntas</a></span>
            <span><a href="/author">Creditos</a></span>
        </nav>
        <section class="main" id="s1">
            <% if(errors.length) { %>
                <span id="ErrorMsgs">Corregir errores:<br/>
                <% for(var i in errors) { %>
                    <span><%= errors[i].message %></span><br/>
                <% } %>
                </span>
            <% } %>
            <%- body %>
        </section>
        <footer class="main" id=f1>
            <a href="https://es.wikipedia.org/wiki/Quiz">Que es un Quiz?</a>
            <a href="https://github.com/ylinlee/servidorQuiz">Repositorio GitHub donde esta subido.</a>
        </footer>
   <div/>
  </body>
</html>
