<!DOCTYPE html>
<html>
  <head>
    <title> Preguntas </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--link media="only screen and (min-width: 530px) and (min-device-width: 481px)" rel='stylesheet' href='/stylesheets/wide.css' />
    <link media="only screen and (max-width: 480px)" rel='stylesheet' href='/stylesheets/smartphone.css' /-->
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
  </head>
  <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Quiz: el juego de las preguntas</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if(!session.user) { %>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
                <% } else { %>
                    <li>
                        <form id="logout" method="post" action="/logout?_method=delete">
                             <a href="javascript:document.getElementById('logout').submit();"><%= session.user.username %> <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout</a></span>
                        </form>
                    </li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                  <div class="list-group">
                    <a href="/" class="list-group-item">Inicio</a>
                    <a href="/quizes" class="list-group-item">Preguntas</a>
                    <a href="/quizes/statistics" class="list-group-item">Estadisticas</a>
                    <a href="/author" class="list-group-item">Creditos</a>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="main container-fluid" id="s1">
                        <% if(errors.length) { %>
                            <span id="ErrorMsgs">Corregir errores:<br/>
                            <% for(var i in errors) { %>
                                <span><%= errors[i].message %></span><br/>
                            <% } %>
                            </span>
                        <% } %>
                        <%- body %>
                    </div>
                </div>
            </div>
        </div>
        <footer class="quiz-footer navbar-fixed-bottom" id="f1">
                <p><a href="https://es.wikipedia.org/wiki/Quiz" target="_blank">Que es un Quiz?</a></p>
                <p><a href="https://github.com/ylinlee/servidorQuiz" target="_blank">Repositorio GitHub donde esta subido.</a></p>
        </footer>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!-- Flot -->
        <script src="/plugins/flot/jquery.flot.js"></script>
        <script src="/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="/plugins/flot/jquery.flot.resize.js"></script>

        <script>
            $(document).ready(function(){

                var selector = (function() {
                    if(location.pathname === "/") {
                        return "/";
                    }
                    if(location.pathname === "/quizes/statistics") {
                        return "/quizes/statistics";
                    }
                    if(location.pathname === "/author") {
                        return "/author";
                    }
                    if(location.pathname.indexOf("/quizes") !== -1) {
                        return "/quizes";
                    }
                })();

                $('.list-group a.list-group-item[href~="'+ selector +'"]').addClass("active");

                var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
                var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

                function plot1(id){

                    var data1 = [
                        { label: "Data 1", data: d1, color: '#17a084'},
                        { label: "Data 2", data: d2, color: '#127e68' }
                    ];

                    if($(id).length === 0) {
                        return;
                    }

                    $.plot($(id), data1, {
                        xaxis: {
                            tickDecimals: 0
                        },
                        series: {
                            lines: {
                                show: true,
                                fill: true,
                                fillColor: {
                                    colors: [{
                                        opacity: 1
                                    }, {
                                        opacity: 1
                                    }]
                                }
                            },
                            points: {
                                width: 0.1,
                                show: false
                            }
                        },
                        grid: {
                            show: false,
                            borderWidth: 0
                        },
                        legend: {
                            show: false
                        }
                    });
                }
                plot1("#flot-chart1a");
                plot1("#flot-chart1b");
                plot1("#flot-chart1c");

                var data2 = [
                    { label: "Data 1", data: d1, color: '#19a0a1'}
                ];

                if($("#flot-chart2").length !== 0) {

                    $.plot($("#flot-chart2"), data2, {
                        xaxis: {
                            tickDecimals: 0
                        },
                        series: {
                            lines: {
                                show: true,
                                fill: true,
                                fillColor: {
                                    colors: [{
                                        opacity: 1
                                    }, {
                                        opacity: 1
                                    }]
                                }
                            },
                            points: {
                                width: 0.1,
                                show: false
                            }
                        },
                        grid: {
                            show: false,
                            borderWidth: 0
                        },
                        legend: {
                            show: false
                        }
                    });
                }

                var data3 = [
                    { label: "Data 1", data: d1, color: '#fbbe7b'},
                    { label: "Data 2", data: d2, color: '#f8ac59' }
                ];

                if($("#flot-chart3").length !== 0) {

                    $.plot($("#flot-chart3"), data3, {
                        xaxis: {
                            tickDecimals: 0
                        },
                        series: {
                            lines: {
                                show: true,
                                fill: true,
                                fillColor: {
                                    colors: [{
                                        opacity: 1
                                    }, {
                                        opacity: 1
                                    }]
                                }
                            },
                            points: {
                                width: 0.1,
                                show: false
                            }
                        },
                        grid: {
                            show: false,
                            borderWidth: 0
                        },
                        legend: {
                            show: false
                        }
                    });
                }
            });
        </script>
  </body>
</html>
