<form class="form-signin" method="post" action="/login">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="login" class="sr-only">Email address</label>
  <input type="text" id="login" class="form-control" name="login" placeholder="User name"  size="30" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password"  size="30" required>
	<button name="commit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</div>
</form>